.settings-container {
    flex: 1;
    min-height: 100vh;
    background-image: url('../../images/settings.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    z-index: 2;
}

.label-left-align {
    text-align: left;
}